html{
    scroll-behavior: smooth;
}
.colored-toast.swal2-icon-success {
  background-color: white !important;
  font-family: Rubik !important;
}
.colored-toast.swal2-icon-error {
  background-color: white !important;
  font-family: Rubik !important;
}
#header{
    width: 100%;
    height: 64px;
    background: #755BDF1A;
}
.container{
    width: 1200px;
    margin: auto;
}
.shadow{
    box-shadow: 0px -1px 0px 0px #2F2B431A inset;
    box-shadow: 0px 1px 3px 0px #2F2B431A;
}
.button{
    background: linear-gradient(90deg, #5E3AF1 0%, #947AFF 100%);
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer; 
}
.border{
    border-radius: 12px;
    border: 1px solid  #EDEDED;
}
.border-32{
    border-radius: 32px;
    border: 1px solid  #EDEDED;
}
.peoplify-side-icon{
    margin-left: 8px;
    margin-top: 4px;
    color: #000;
    text-align: center;
    font-family: Rubik;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: -0.48px;
}
.generate-select{
    width: 320px;
    height: 48px;
    margin-top: 8px;
    margin-right: 32px;
    font-family: Rubik;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.01em;
    text-align: left;
    padding-left: 8px;
    appearance: none;
    background-color: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 21 20" fill="none"><g id="Tail icon"><path id="Vector" d="M10.5 10.9764L14.625 6.85141L15.8033 8.02974L10.5 13.3331L5.19666 8.02974L6.37499 6.85141L10.5 10.9764Z" fill="black"/></g></svg>');
    background-repeat: no-repeat;
    background-position: 287px 14px;
    outline: none;
}
.animated-button {
  border: 0;
  outline: 0;
  transition: all 0.3s;
}
.animated-button:hover {
  box-shadow: 0px 5px 12px -5px #5E3AF1;
  transform: scale(1.03);
}
.animated-button:active {
  box-shadow: 0px 4px 8px #5E3AF1;
  transform: scale(0.98);
}
#header .header{
    display: flex;
    justify-content: space-between;
}
#header .header .header-right{
    display: flex;
    margin-top: 20px;
    font-size: 17px;
    font-family: Rubik;
    font-weight: 500;
}
#header .header .header-right .right-right{
    margin-left: 25px;
}
#header .header .header-right .donate{
    width: 125px;
    height: 32px;
    margin-left: 24px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    margin-top: -4px;
}
#header .header .header-right .donate a{
    color: #FFF;
    text-decoration: none;
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.14px;
}
#header .header .header-right .right-right a{
    text-decoration: none;
    color: #757575;
    color: #757575;
    text-align: center;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.16px;
}
#header .header .header-right .right-left a{
    text-decoration: none;
    color: #757575;
    text-align: center;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.16px;
}
#header .header .header-left{
    margin-top: 16px;
    display: flex;
}
#copy .copy-text{
    display: flex;
    justify-content: center;
    margin: 48px 0;
}
#copy .copy-text p{
    color: #000;
    text-align: center;
    font-family: Rubik;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.216px;
}
#copy .copy-form{
    width: 793px;
    height: 116px;
    background-color: aqua;
    margin: auto;
}
#copy .copy-form form label{
    display: block;
    color: #000;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: -0.16px;
}
#copy .copy-form form input{
    background-color: #000;
    width: 769px;
    height: 40px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    padding: 24px 12px;
}
#table .table{
    margin: auto;
}
#table .table table{
    width: 793px;
    height: 980px;
    margin: auto;
}
#table .table table tr{
    border: 1px solid #ededed;
}